 body {
      margin: 0;
      font-family: sans-serif, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      background-color: #f4f4f4;
      color: #000;
    }

    
    .header {
  background-color: #00768f;
  color: white;
  padding: 20px 10px;
  display: flex;
  justify-content: center; /* center contents horizontally */
}
.header-container {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  text-align: center;
}

.header-logo img {
  height: 80px;
  width: auto;
}

.header-text h1 {
  margin: 0;
  font-size: 2.5em;
}

.header-text p {
  margin: 3px 0 0;
  font-size: .9em;
}


/* navbar code start */
.navbar {
  background-color: #771b83;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.nav-links {
  display: flex;
}

.navbar a {
  padding: 14px 20px;
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #1fbdec;
}

/* Search styling */
.search-container {
  position: relative;
}

#searchInput {
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  outline: none;
}

#suggestions {
  position: absolute;
  top: 35px;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  width: 200px;
  max-height: 200px;
  overflow-y: auto;
  display: none;
  z-index: 10;
}

#suggestions div {
  padding: 8px;
  cursor: pointer;
}

#suggestions div:hover {
  background: #f1f1f1;
}

/* navbar code end */


.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.highlight {
  color: #d63384;
  text-align: center;
}

.short-desc {
  font-size: 15px;
  line-height: 1.6;
}

.exam-box {
  border: 1px solid #000;
  padding: 15px;
  margin: 20px 0;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.exam-box h3 {
  color: red;
  margin: 0;
}

.exam-box .green {
  color: green;
}

.section {
  margin: 20px 0;
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);

}

.section h3 {
  background-color: #8256b8e0;
  color: white;
  padding: 10px;
  margin: -15px -15px 10px -15px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);

}

ul {
  padding-left: 20px;
}

.social {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  text-align: center;
}

.social div {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  margin-top: 5px;
  background-color: green;
  color: white;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
}

.links-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffe6b3;
  box-shadow: 0 0 5px rgba(46, 122, 230, 0.5);
}
.links-table tr{
  text-align: center;
}

.links-table td {
  border: 1px solid #ccc;
  padding: 10px;
  vertical-align: top;
  /* text-align: center; */
}

.links-table a {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}

.red {
  color: red;
  font-weight: bold;
}

.green {
  color: green;
  font-weight: bold;
}


.section-table {
  margin: 30px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(46, 122, 230, 0.5);
}

.table-title {
  background-color: #5bc0de;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
  margin: -10px -10px 10px -10px;
  box-shadow: 0 0 5px rgba(46, 122, 230, 0.5);
}

/* book selling div */
.section-table-sell {
  margin: 30px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(46, 122, 230, 0.5);
  
}

.table-title-sell {
  background-color: #a50404e3;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
  margin: -10px -10px 10px -10px;
  box-shadow: 0 0 5px rgba(46, 122, 230, 0.5);
}

.table-info-sell {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(46, 122, 230, 0.5);
  
  
}
.table-info-sell tr{
  text-align: center;
  
}
.table-info-sell th,
.table-info-sell td {
  border: 1px solid #aac0f0;
  padding: 10px;
  vertical-align: top;
  
  
}

.table-info-sell a{
    text-decoration: none;
    color: #24be76;
    font-weight: bold;
  }

/* book selling div end */

.red-center {
  color: red;
  font-weight: bold;
  text-align: center;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
  box-shadow: 0 0 5px rgba(46, 122, 230, 0.5);
}

.info-table th,
.info-table td {
  border: 1px solid #ffffff;
  padding: 10px;
  vertical-align: top;
  text-align: left;
  box-shadow: 0 0 5px rgba(46, 122, 230, 0.5);
  
}

.info-table th {
  background-color: #f1f1f1;
  box-shadow: 0 0 5px rgba(46, 122, 230, 0.5);
  
}

.info-table ul {
  margin: 0;
  padding-left: 20px;
}

/* link for hilight new */
.link-hilight {
    background-color: #00ffe0; /* Sets the background color to yellow */
    font-weight: bold;       /* Makes the text bold */
}




.footer {
  background-color: #b30000;
  color: white;
  text-align: center;
  padding: 15px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 40px;
}